@layer components {
    .container-mapa {
        @apply relative w-full h-[30rem] rounded-xl overflow-hidden mt-5;

        & img {
            @apply absolute top-0 left-0 w-full h-full object-cover z-100;
        }

        & a {
            @apply absolute text-5xl rounded-full border border-yellow-500 bg-yellow-500/70 z-200;

            &.fase1 {
                @apply top-1/2 left-36;
            }

            &.fase2 {
                @apply top-1/3 left-64;
            }

            &.fase3 {
                @apply top-2/3 left-[25rem];
            }

            &.fase4 {
                @apply top-1/4 left-[30rem];
            }

            &.fase5 {
                @apply top-2/4 left-[35rem];
            }
        }
    }
}