@layer components {
    .container-cartas {
        @apply grid grid-cols-5 gap-5 py-5;

        & .carta {
            @apply relative w-full h-[20rem] rounded-xl overflow-hidden;

            & img {
                @apply w-full h-full object-cover z-10;
            }

            & .txt-carta {
                @apply absolute bottom-0 left-0;
            }
        }
    }
}